project_id              = "<projet-project_id>"
region                  = "us-central1"
image_tag               = "us-central1-docker.pkg.dev/<projet-project_id>/uscis-api/uscis-api:latest"
jwt_secret              = "<jwt signing secret>"
db_connection_string    = "<postgres connection string>"
google_oauth_client_id  = "<google oauth client id>"
oauth_client_id         = "<uscis upstream oauth client id>"
oauth_client_secret     = "<uscis upstream oauth client secret>"
resend_api_key          = "<resend api key>"
